html, body
{
    height: 100%;
}

body
{
    margin: 0px;
    padding: 0px;
    background: #111111;
    font-family: 'Helvetic Neue', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: #000;
}


h1, h2, h3
{
    margin: 0;
    padding: 0;
}

p, ol, ul
{
    margin-top: 0;
}

ol, ul
{
    padding: 0;
    list-style: none;
}

p
{
    line-height: 180%;
}

strong
{
}

a
{
    color: #ee0000;
}

a:hover
{
    text-decoration: none;
}

.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

/* Feature */

.feature-grid {
    position: relative;
}

.feature-grid:after {
    clear: both;
    content: '';
    display: block;
}

.feature-grid .feature {
    display: inline-block;
    float: relative;
    margin-bottom: 0em;
    width: 40%;
}

.feature-grid .feature .content {
    width: 30%;
}

.feature-grid .feature .image {
    width: 30%;
}

.feature-grid .feature .image img {
    display: inline;
    max-width: 100%;
}

.feature-grid .feature:nth-child(odd) .content, .feature-grid .feature:nth-child(odd) .image {
    float: right;
    margin-right: 5%;
    text-align: right;
}

.feature-grid .feature:nth-child(even) .content, .feature-grid .feature:nth-child(even) .image {
    float: left;
    margin-left: 5%;
    text-align: left;
}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
    display: inline-block;
}

.image img
{
    display: block;
    width: 100%;
}

.image-full
{
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left
{
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered
{
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img
{
    margin: 0 auto;
    width: auto;
}

/* Image */

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.right {
    max-width: 40%;
}

.image.right img {
    width: 100%;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.rounded {
    border-radius: 100%;
}

.image.rounded img {
    border: solid 0.5em rgba(144, 144, 144, 0.25);
    border-radius: 100%;
}

.image.captioned {
    border-radius: 0;
    margin-bottom: 4em;
}

.image.captioned img {
    border-radius: 0;
}

.image.captioned h3 {
    background-color: #fff;
    box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 1em 1em;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1
{
}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact
{
    margin: 0;
    padding: 2em 0em 0em 0em;
    list-style: none;
}

ul.contact li
{
    display: inline-block;
    padding: 0em 0.30em;
    font-size: 1em;
}

ul.contact li span
{
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a
{
    color: #FFF;
}

ul.contact li a:before
{
    display: inline-block;
    background: #3f3f3f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
}

ul.contact li a.icon-twitter:before { background: #2DAAE4; }
ul.contact li a.icon-facebook:before { background: #39599F; }
ul.contact li a.icon-dribbble:before { background: #C4376B;	}
ul.contact li a.icon-tumblr:before { background: #31516A; }
ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button
{
    display: inline-block;
    padding: 1em 2em 1em 2em;
    letter-spacing: 0.10em;
    margin-top: 2em;
    padding: 1.40em 3em;
    border: 2px solid rgba(55,55,55,1);
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: #000;
}

.button-alt
{
    padding: 1em 2em;
    border-color: rgba(0,0,0,.8);
    color: rgba(0,0,0,.8);
}

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

.box1,
.box2,
.box3,
.box4
{
    width: 235px;
}

.box1,
.box2,
.box3,
{
    float: left;
    margin-right: 20px;
}

.box4
{
    float: right;
}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

.boxA,
.boxB,
.boxC
{
    width: 384px;
}

.boxA,
.boxB
{
    float: left;
    margin-right: 20px;
}

.boxC
{
    float: right;
}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

.tbox1,
.tbox2
{
    width: 575px;
}

.tbox1
{
    float: left;
}

.tbox2
{
    float: right;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
    margin-bottom: 3em;
}

.title h2
{
    font-size: 2.7em;
}

.title .byline
{
    font-size: 1.3em;
    color: rgba(55,55,55,.9);
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#wrapper
{
    position: relative;
    padding: 4em 0em 7em 0em;
    background: #FFF;
}

#wrapper2
{
    position: relative;
    padding: 4em 0em 0em 0em;
    background: #FFF;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
    position: relative;
    padding: 4em 0em 7em 0em;
    background: #111111 url(images/header-bg.jpg) no-repeat center;
    background-size: cover;
}

#header
{
    position: relative;
    padding: 4em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
    position: absolute;
    top: 2.6em;
    left: 0;
}

#logo h1
{
    font-size: 2.6em;
    color: #79C55;
}

#logo a
{
    text-decoration: none;
    color: rgba(0,0,0,1);
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu
{
    position: absolute;
    top: 4.5em;
    right: 0;
}

#menu ul
{
    display: inline-block;
}

#menu li
{
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span
{
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgba(55,55,55,0.80);
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .active a
{
    border: 2px solid rgba(55,55,55,1);
    border-radius: 6px;
    color: rgba(55,55,55,1);
}

#menu .icon
{
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
    padding-top: 10em;
    text-align: center;
}

#banner .title h2
{
    font-size: 4em;
}

#banner .title .byline
{
    font-size: 2em;
}

#banner .title .tiny p
{
    font-size: 1em;
    line-height: .1;
}

#banner .button
{
    margin-top: 2em;
    padding: 1.40em 3em;
    border: 2px solid rgba(55,55,55,1);
    border-radius: 6px;
    font-weight: 700;
    font-size: 1em;

}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page
{
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar
{
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(0,0,0,0.8);
}

#copyright p
{
    text-align: center;
    font-size: 1em;
    color: rgba(155,155,155,0.3);
}

#copyright a
{
    text-decoration: none;
    color: rgba(155,155,155,0.6);
}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome
{
    position: relative;
    padding: 7em 0em 7em 0em;
    background: #111111 url(images/header-bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
}

#welcome .container
{
    width: 1000px;
    padding: 0px 100px;
    color: rgba(55,55,55,0.8);
}

#welcome a
{
    color: rgba(55,55,55,1);
}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

#three-column
{
    text-align: center;
    color: rgba(0,0,0,0.6);
}

#three-column .fa
{
    display: block;
    padding: 1em 0em;
    color: rgba(0,0,0,1);
    font-size: 2em;
}

#three-column .title h2
{
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

#three-column .title .byline
{
    text-align: center;
    color: rgba(0,0,0,.5);
}

/*//////////////////////////////////////////////////////////////////////////////*/

li a {
    color: #000;
    transition-property: color;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    transition-delay: 0.3s;
}

li a:hover {
    color: #fff;
}
.mask {
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;

    -moz-animation-name: move;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-delay: 0.5s;
    -moz-animation-iteration-count: 2;
    -moz-animation-direction: alternate;

    -webkit-animation-name: move;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
}
.css-slideshow{
    position: center;
    max-width: 670px;
    height: 550px;
    margin: 5em auto .5em auto;
}
.css-slideshow figure{
    margin: 0;
    max-width: 670px;
    height: 370px;
    background: #000;
    position: absolute;
}
.css-slideshow img{
    box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
    position: absolute;
    top: 0;
    color: #fff;
    background: rgba(0,0,0, .3);
    font-size: .8em;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
    transition: opacity .5s;
    opacity: 1;
}
.css-slideshow-attr{
    max-width: 495px;
    text-align: right;
    font-size: .7em;
    font-style: italic;
    margin:0 auto;
}
.css-slideshow-attr a{
    color: #666;
}
.css-slideshow figure{
    opacity:0;
}

/* SLIDER STRUCTURE */

#slider {
    background: #000;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    height: 480px;
    width: 640px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
}

/* HIDE ALL OUTSIDE OF THE SLIDER */

#mask {
    overflow: hidden;
    height: 480px;
}

/* IMAGE LIST */

#slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}

#slider li {
    width: 640px;  /* Width Image */
    height: 480px; /* Height Image */
    position: absolute;
    top: -485px; /* Original Position - Outside of the Slider */
    list-style: none;
}

#slider li.firstanimation {
    animation: cycle 40s linear infinite;
}

#slider li.secondanimation {
    animation: cycletwo 40s linear infinite;
}

#slider li.thirdanimation {
    animation: cyclethree 40s linear infinite;
}

#slider li.fourthanimation {
    animation: cyclefour 40s linear infinite;
}

#slider li.fifthanimation {
    animation: cyclefive 40s linear infinite;
}
#slider li.sixthanimation {
    animation: cyclesix 40s linear infinite;
}
#slider li.seventhanimation {
    animation: cycleseven 40s linear infinite;
}
#slider li.eighthanimation {
    animation: cycleeight 40s linear infinite;
}


@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}

@-moz-keyframes move {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(100px);
    }
}

@-webkit-keyframes move {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(100px);
    }
}

/* Animation from 0% to 100% */

@keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(100px); }
}

/* Animation with intermediate keyframes */

@keyframes move {
    0% { transform: translateX(0); }
    50% { transform: translateX(20px); }
    100% { transform: translateX(100px); }
}

/* ANIMATION */

@keyframes cycle {
    0%  { top: 0px; } /* When you start the slide, the first image is already visible */
    2.5%  { top: 0px; } /* Original Position */
    10% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
    12.5% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
    15% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
    95% { top: -325px; opacity: 0; z-index: 0; }
    97.5% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
    100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
    0%  { top: -325px; opacity: 0; } /* Original Position */
    10% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
    12.5% { top: 0px; opacity: 1; }
    15% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
    22.5% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
    25% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
    26% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
    100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
    0%  { top: -325px; opacity: 0; }
    22.5% { top: -325px; opacity: 0; }
    25% { top: 0px; opacity: 1; }
    27.5% { top: 0px; opacity: 1; }
    35% { top: 0px; opacity: 1; }
    37.5% { top: 325px; opacity: 0; z-index: 0; }
    38.5% { top: -325px; opacity: 0; z-index: -1; }
    100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
    0%  { top: -325px; opacity: 0; }
    35% { top: -325px; opacity: 0; }
    37.5% { top: 0px; opacity: 1; }
    40% { top: 0px; opacity: 1; }
    47.5% { top: 0px; opacity: 1; z-index: 0; }
    50% { top: 325px; opacity: 0; z-index: 0; }
    51% { top: -325px; opacity: 0; z-index: -1; }
    100%{ top: -325px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
    0%  { top: -325px; opacity: 0; }
    47.5% { top: -325px; opacity: 0; }
    50% { top: 0px; opacity: 1; }
    52.5% { top: 0px; opacity: 1; }
    60% { top: 0px; opacity: 1; z-index: 0; }
    100%{ top: 325px; opacity: 0; z-index: 0; }
}
@keyframes cyclesix {
    0%  { top: -325px; opacity: 0; }
    60% { top: -325px; opacity: 0; }
    62.5% { top: 0px; opacity: 1; }
    65% { top: 0px; opacity: 1; }
    72.5% { top: 0px; opacity: 1; z-index: 0; }
    100%{ top: 325px; opacity: 0; z-index: 0; }
}
@keyframes cycleseven {
    0%  { top: -325px; opacity: 0; }
    72.5% { top: -325px; opacity: 0; }
    75% { top: 0px; opacity: 1; }
    77.5% { top: 0px; opacity: 1; }
    85% { top: 0px; opacity: 1; z-index: 0; }
    100%{ top: 325px; opacity: 0; z-index: 0; }
}
@keyframes cycleeight {
    0%  { top: -325px; opacity: 0; }
    85% { top: -325px; opacity: 0; }
    87.5% { top: 0px; opacity: 1; }
    90% { top: 0px; opacity: 1; }
    97.5% { top: 0px; opacity: 1; z-index: 0; }
    100%{ top: 325px; opacity: 0; z-index: 0; }
}

/* PROGRESS BAR */

.progress-bar {
    position: relative;
    top: -5px;
    width: 640px;
    height: 5px;
    background: #000;
    animation: fullexpand 40s ease-out infinite;
}

/* ANIMATION BAR */

@keyframes fullexpand {
    /* In these keyframes, the progress-bar is stationary */
    0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

    /* In these keyframes, the progress-bar starts to come alive */
    4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

    /* In these keyframes, the progress-bar moves forward for 3 seconds */
    16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

    /* In these keyframes, the progress-bar has finished his path */
    17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

    /* In these keyframes, the progress-bar will disappear and then resume the cycle */
    18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}

#slider .tooltip {
    background: rgba(0,0,0,0.7);
    width: 640px;
    height: 60px;
    position: relative;
    bottom: 75px;
    left: -320px;
}

#slider .tooltip h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    padding: 0 0 0 10px;
}

#slider .tooltip {
    …
    transition: all 0.3s ease-in-out;
}

#slider li#first: hover .tooltip,
#slider li#second: hover .tooltip,
#slider li#third: hover .tooltip,
#slider li#fourth: hover .tooltip,
#slider li#fifth: hover .tooltip {
    left: 0px;
}

#slider: hover li,
#slider: hover .progress-bar {
    animation-play-state: paused;
}
